<h1>Editing art piece</h1>

<%= image_tag @art_piece.get_icon, size: "100x100" %>

<%= render "form", art_piece: @art_piece %>

<br><br>

<div>
  <%= link_to "Show this art piece", @art_piece %> |
  <%= link_to "Back to art pieces", art_pieces_path %>
</div>
