<h1>News Feed</h1>

<% if current_user and current_user.is_admin? %>
  <%= link_to 'Create New Post', new_blog_path, class: 'btn btn-primary' %>
<% end %>

<style>
  .news-feed-container {
    max-height: 400px; 
    overflow: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
  }
</style>

<div class="news-feed-container">
  <% @blog_posts.each do |blog_post| %>
    <div class="blog-post">
      <h2><%= link_to blog_post.title, blog_path(blog_post) %></h2>
      <p><%= truncate(blog_post.body, length: 250) %></p>
    </div>
  <% end %>
</div>

<iframe src='https://widgets.sociablekit.com/facebook-group-posts/iframe/224152' frameborder='0' width='100%' height='1000'></iframe>