<h1>Howdy, Welcome to AggieArtLand</h1>
  <p>
    You have successfully signed up to Aggieland Art Trail.
  </p>
<p>Thanks for joining and have a great day!</p>
<p>This is an automated mail. If you have any queries, Please mail to aggielandarttrail@visualartsociety.org</p>